<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: #080710;
        font-family: Arial, sans-serif;
    }

    a {
        color: #b4b1b1;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 0 10px;
        transition: background-color 0.3s ease;
    }

    a:hover {
        background-color: #413b3b;
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<a th:href="@{/people}">Table</a>
<a th:href="@{people/new}">Form</a>
<a th:href="@{/people/login}">Administrator</a>


</body>
</html>

